name: Release

on:
  push:
    tags:
      - 'v*.*.*'
      - '*.*.*'
      - 'v*.*.*-rc*'
      - '*.*.*-rc*'
      - 'v*.*.*-RC*'
      - '*.*.*-RC*'

permissions:
  contents: write

jobs:
  release:
    uses: nikolareljin/ci-helpers/.github/workflows/rust-release.yml@production
    with:
      bin_name: "image-view"
      linux_gnu_aliases: "deb,pacman,yum,redhat"
