name: Release

on:
  push:
    tags:
      - 'v*.*.*'
      - '*.*.*'
      - '*.*.*-rc'
      - '*.*.*-RC'

permissions:
  contents: write

jobs:
  release:
    uses: nikolareljin/ci-helpers/.github/workflows/rust-release.yml@0.2.0
    with:
      bin_name: "image-view"
      linux_gnu_aliases: "deb,pacman,yum,redhat"
