name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  ci:
    uses: nikolareljin/ci-helpers/.github/workflows/ci.yml@0.2.0
    with:
      build_command: "cargo build --verbose"
      test_command: "cargo test --verbose"
